#album-container {
  padding-left: 0;
  padding-right: 0;
}

#ultimo{
    padding-bottom: 120px;
  }

#barra-sticky {
    background-color: #b7458a;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
   
    
    
    
}  

#container-madre{
    background-color: rgba(22, 22, 22, 0.995);
}

  #boxHeader {
    
    background-color: #b7458a;
    box-shadow: #b7458a 15px 40px 110px 60px;
    text-shadow: 1px 2px black;
  }


  #imgAlbum {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  .card2{
    width: 12rem;
  }