#brani{
    ul{
        padding: 0;
        li{
            margin-right: 1rem;
        }
        list-style-type: none;
        #play{
                
            border: 0;
            border-radius: 50%;
            background-color: #a0e025;
            transform: scale(1.4);
        }
        #follow{
            border: 0;
            background-color: transparent;
            font-weight: bold;
        }
        #add{
            background-color: transparent;
            border: 0;
        }
    }
    
}

#verificato{
    color: #42a5f5;
}
section{
    h2{
        font-size: 6em;
    }
   
}