#brani {
  ol {
    padding: 0;
    list-style-type: none;
    li {
      transition: ease 0.6s;
      margin-right: 1rem;

      &:hover {
        cursor: pointer;
        box-shadow: 90vw 0 0 rgb(36, 35, 35) inset;
      }
    }

    #play {
      border: 0;
      border-radius: 50%;
      background-color: #a0e025;
      transform: scale(1.4);
    }
    #follow {
      border: 0;
      background-color: transparent;
      font-weight: bold;
    }
    #add {
      background-color: transparent;
      border: 0;
    }
  }
}

#verificato {
  color: #42a5f5;
}
section {
  h2 {
    font-size: 4rem;
  }
}

#sfondo {
  text-shadow: 1px 1px black;
  background-repeat: no-repeat;
  background-position-y: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px black;
}

#container-mamma {
  background-color: rgba(22, 22, 22, 0.995);
}
